@using System.Globalization
@using System.Threading
@using Umbraco.Web.UI.App_Plugins.Obviuse
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var umbHelper = (UmbracoHelper)DependencyResolver.Current.GetService(typeof(UmbracoHelper));
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <title>@Model.Value("pageTitle", defaultValue: Model.Name, fallback:Fallback.ToDefaultValue) - @umbHelper.GetStartpage().SiteName</title>
    <script type="text/javascript" src="https://use.typekit.com/tml4wzg.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
</head>
<body>
<header>
    <nav class="main">
        <ul>
            <li><a href="@Model.Root().Url">Start</a></li>
            @foreach (var item in Model.Root().Children().Where(x=>x.IsVisible()))
            {
                <li class="@(Model.Id == item.Id ? "current" : "")"><a href="@item.Url">@item.Name</a></li>
            }
        </ul>
    </nav>
    <nav class="lang">
        <ul>
            
            @foreach (var (culture, infos) in Model.Cultures)
            {
                <li class="@(Thread.CurrentThread.CurrentCulture.Name.ToLowerInvariant() == culture ? "current" : "")">
                    <a href="@Model.GetUrl(culture)">
                        @umbHelper.GetDictionaryValue("Settings/Languages/" + culture)
                    </a>
                </li>
            }
        </ul>

    </nav>
</header>
<main>
    @RenderBody()
</main>
<footer>
Obviuse Umbraco V8-demo
</footer>
</body>
</html>

